body {
    background-color: rgb(246, 248, 247, 0.5);
    color: black;
}
.under_bar {
    font-size: 48px;
    font-weight: bold;
    white-space: nowrap;
    letter-spacing: -2px;
}
.title_margin {
    margin-left: 38px;
    margin-top: 21px;
    text-shadow: 1px 0.7px 2px rgba(12, 20, 12, 0.4);
}

.a {
  text-shadow: 2px 2px black;
}
.b {
  text-shadow: -2px 2px black;
}
.c {
  text-shadow: 2px -2px black;
}
.d {
  text-shadow: -2px -2px black;
}
.e {
  text-shadow: 2px 0 black;
}
.f {
  text-shadow: -2px 0 black;
}
.g {
  text-shadow: 0 2px black;
}
.h {
  text-shadow: 0 -2px black;
}
  .covid_explanation {
    position: relative;
    display: inline-block;
  }
  
  .covid_explanation img {
    position: relative;
    text-align: center;
    filter: blur(2px) brightness(60%);
    transform: scale(1.14);
    margin-top: 10px;
    width: 100%;
    z-index: 1;
  }
  
  .covid_explanation figcaption {
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgba(255, 255, 255, 1);
    padding: 10px;
    background-color: rgba(185, 151, 151, 0);
    z-index: 2;
  }
  
  .covid_explanation table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .covid_explanation th,
  .covid_explanation td {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    text-align: center;
    /* width: 4%;
    height: 20%; */

  }
  
  .covid_background-color {
    position: relative;
    background-color: rgba(255, 0, 0, 0.13);
    text-align: center;
    z-index: 2;
    transform: scale(1.03);
    padding-bottom: 11px;
    margin-top: -21px;
  }
